* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    font-family: sans-serif;
    color: white;
}

.location,
.temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature {
    flex-direction: column;
}


.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease;  
}

.degree-section:hover {
    transform: scale(1.1);
}



.degree-section span {
    margin: 10px;
    font-size: 30px;
}

.degree-section h2 {
    font-size: 40px;

}

/* Some Css for the loc and temp */
.location, .temperature {
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(10px);          /* Frosted glass effect */
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}